<div role="main">
    <ol class="trucks">
      <li class="truck" data-lat="41.960558" data-lon="-87.698719"> 
        Name of Truck
        Location of Truck
        </li>
      <li class="truck" data-address="600 W Chicago Ave, Chicago, IL"> 
        Name of Truck
        Location of Truck
        </li>
      <li class="truck"> 
        Name of Truck
        Location of Truck
        </li>
      <li class="truck"> 
        Name of Truck
        Location of Truck
        </li>
      </ol>

 <div id="map_canvas" style="width:100%; height:100%"></div>
  </div>
  <footer>

  </footer>

