<ul id="locations">
    <li>
			<a href="#" data-role="location" data-options='{"id":"1", "lat":"38.2411208", "lon":"-85.7559032", "title":"Kroger"}' title="">924 S 2nd St, Louisville, KY</a>
		</li>
    <li>
			<a href="#" data-role="location" data-options='{"id":"2", "lat":"38.2588009", "lon":"-85.7046557", "title":"Kroger"}' title="">2200 Brownsboro Rd, Louisville, KY</a>
		</li>
    <li>
			<a href="#" data-role="location" data-options='{"id":"3", "lat":"38.2236639", "lon":"-85.6877365", "title":"Kroger"}' title="">2440 Bardstown Rd, Louisville, KY</a>
		</li>
    <li>
			<a href="#" data-role="location" data-options='{"id":"4", "lat":"38.2030968", "lon":"-85.7632405", "title":"Kroger"}' title="">3165 S 2nd St, Louisville, KY</a>
		</li>
</ul>